body{
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 0 auto;
	padding: 20px;
}
h1{
	text-align: center;
	color: #333;
}
     p {
         color: darkgreen;
         font-family: 'Georgia', serif;
     }